<Menu DefaultSelectedKeys=@(new[]{"1"})
        DefaultOpenKeys=@(new[]{"sub1"})
        Mode=MenuMode.Horizontal
        Theme=MenuTheme.Dark>
    <MenuItem Key="1">
        <MenuLink Href="/" Match="NavLinkMatch.Prefix">
            <Icon Type="pie-chart" Theme="outline"></Icon>
            <span>Dashboard</span>
        </MenuLink>
        
    </MenuItem>
    <MenuItem Key="2">
        <MenuLink Href="/counter" Match="NavLinkMatch.Prefix">
            <Icon Type="desktop" Theme="outline"></Icon>
            <span>Counter</span>
        </MenuLink>
        
    </MenuItem>
    <MenuItem Key="3">
        <Icon Type="container" Theme="outline"></Icon>
        <span>Option 3</span>
    </MenuItem>
</Menu>